.darkModeBtn {
  padding: var(--sp8);
  border-radius: 8px;
  transition: background-color 300ms;
  position: relative;
  cursor: pointer;
}
.darkModeBtn:focus {
  outline: 1px solid var(--bd-0);
}
.darkModeBtn:hover {
  background-color: var(--inv-bg-2);
}

.darkModeBtn svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--inv-tx-2);
}
