@font-face {
  font-family: "Noto Serif";
  src: url("./assets/fonts/NotoSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url("./assets/fonts/NotoSerif-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url("./assets/fonts/NotoSerif-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Fira Mono";
  src: url("./assets/fonts/FiraMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}
a:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  outline: none;
  line-height: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

address {
  font-style: normal;
}

html {
  font-family: "Noto Sans";
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

:root {
  --sp4: 0.25rem;
  --sp8: 0.5rem;
  --sp12: 0.75rem;
  --sp16: 1rem;
  --sp20: 1.25rem;
  --sp24: 1.5rem;
  --sp32: 2rem;
  --sp40: 2.5rem;
  --sp64: 4rem;
  --bg-0: #fafafa;
  --bg-1: #f5f5f5;
  --bg-2: #f2f2f2;
  --tx-0: #666666;
  --tx-1: #595959;
  --tx-2: #1a1a1a;
  --bd-0: #b2b2b2;
  --bd-1: #d9d9d9;
  --primary: #ff3333;
  --primary-light: #ff6666;
  --secondary: #3345ff;
  --secondary-light: #6674ff;
  --inv-bg-0: #292929;
  --inv-bg-1: #212121;
  --inv-bg-2: #1a1a1a;
  --inv-tx-0: #8c8c8c;
  --inv-tx-1: #b2b2b2;
  --inv-tx-2: #ebebeb;
  --inv-bd-0: #4d4d4d;
  --inv-bd-1: #333333;
  --g-primary: linear-gradient(to right, #ff3333 0%, #ff8833 50%, #ff3333 100%);
  --g-secondary: linear-gradient(
    to right,
    #3345ff 0%,
    #3388ff 50%,
    #3345ff 100%
  );
  --g-title: linear-gradient(to right, #292929, #1a1a1a);

  /* Variáveis exclusivas da animação no Hero */
  --mac-green-bg: #0bdd2b;
  --mac-green-bd: #2fb100;
  --mac-yellow-bg: #ffcc00;
  --mac-yellow-bd: #8a7c00;
  --mac-red-bg: #f4221e;
  --mac-red-bd: #870000;
  --grid-items-bg: #dcdcdc;
}

body {
  background-color: var(--bg-2);
}
body[data-darkmode="true"] {
  --bg-0: #292929;
  --bg-1: #212121;
  --bg-2: #1a1a1a;
  --tx-0: #8c8c8c;
  --tx-1: #b2b2b2;
  --tx-2: #ebebeb;
  --bd-0: #4d4d4d;
  --bd-1: #333333;
  --primary: #ff4d4d;
  --primary-light: #fe3434;
  --secondary: #6674ff;
  --secondary-light: #3344ff;
  --inv-bg-0: #fafafa;
  --inv-bg-1: #f5f5f5;
  --inv-bg-2: #f2f2f2;
  --inv-tx-0: #666666;
  --inv-tx-1: #595959;
  --inv-tx-2: #1a1a1a;
  --inv-bd-0: #b2b2b2;
  --inv-bd-1: #d9d9d9;
  --g-title: linear-gradient(to right, #f2f2f2, #fafafa);

  /* Variáveis exclusivas da animação no Hero */
  --mac-green-bg: #0bdd2b;
  --mac-green-bd: #34c002;
  --mac-yellow-bg: #ffc400;
  --mac-yellow-bd: #eba100;
  --mac-red-bg: #f4221e;
  --mac-red-bd: #cd0202;
  --grid-items-bg: #545454;
}

@media (prefers-reduced-motion: reduce) {
  body * {
    transition: none !important;
    scroll-behavior: auto;
  }
}

.bg-0 {
  background-color: var(--bg-0);
}
.bg-1 {
  background-color: var(--bg-1);
}
.bg-2 {
  background-color: var(--bg-2);
}
.tx-0 {
  color: var(--tx-0);
}
.tx-1 {
  color: var(--tx-1);
}
.tx-2 {
  color: var(--tx-2);
}
.inv-bg-0 {
  background-color: var(--inv-bg-0);
}
.inv-bg-1 {
  background-color: var(--inv-bg-1);
}
.inv-bg-2 {
  background-color: var(--inv-bg-2);
}
.inv-tx-0 {
  color: var(--inv-tx-0);
}
.inv-tx-1 {
  color: var(--inv-tx-1);
}
.inv-tx-2 {
  color: var(--inv-tx-2);
}

.t-paragraph {
  font-family: "Noto Sans";
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.t-name {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.25rem;
}

.t-title {
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

.t-small {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}

.t-skills {
  font-family: "Noto Serif";
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
}

.t-button-label-0 {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 3%;
}

.t-button-label-1 {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 3%;
}

.t-pre-title {
  font-family: "Noto Serif";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-project-title {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
}

.t-tag {
  font-family: "Fira Mono";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-contact {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.t-skill {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

::view-transition-new(root) {
  animation: circleAnimation 1.5s;
}
::view-transition-old(root) {
  animation: none;
}

@keyframes circleAnimation {
  from {
    clip-path: circle(0px);
  }
  to {
    clip-path: circle(120vw);
  }
}
